.btn-primary{
  background-color: #009999 !important;
  border: #009999 !important;
  color:aliceblue !important;
  border-radius:10px !important;
  margin-bottom: 5px;

}
.btn-primary:hover{
  background-color: #29FFFF !important;
}
.navbar{
  background-color: #88C6C6 !important;
  border-radius:10px !important;
  color: aliceblue !important;
}